[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".oh-my-zsh-plugins/zsh-autosuggestions"]
	path = .oh-my-zsh-plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".oh-my-zsh-plugins/zsh-output-highlighting"]
	path = .oh-my-zsh-plugins/zsh-output-highlighting
	url = https://github.com/l4u/zsh-output-highlighting
[submodule ".oh-my-zsh-plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh-plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
